extends layout

block content
  .row.banner
    .col-12
      h1 Loc8r
        small &nbsp;Find great trees to enjoy near you!
  .row
    .col-12.col-md-8
      p List area.
    .col-12.col-md-4
      p.lead Tree Hugger helps you find and rate beautiful trees while learning about the area.
